.need_scroll {
  overflow: hidden;
  overflow-y: auto !important;
  -webkit-overflow-scrolling: touch;
}

.need_scroll::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/*正常情况下滑块的样式*/
.need_scroll::-webkit-scrollbar-thumb {
  background-color: rgba(#9a9a9a, 0.5);
  border-radius: 10px;
  //-webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.1);
  //transition: 0.5s;
}

/*鼠标悬浮在该类指向的控件上时滑块的样式*/
.need_scroll:hover::-webkit-scrollbar-thumb {
  background-color: rgba(#9a9a9a, 0.5);
  border-radius: 10px;
  //-webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.1);
}

/*鼠标悬浮在滑块上时滑块的样式*/
.need_scroll::-webkit-scrollbar-thumb:hover {
  background-color: rgba(#9a9a9a, 0.5);
  //-webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.1);
}

/*正常时候的主干部分*/
.need_scroll::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0);
  //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.4);
  //background-color: white;
}

/*鼠标悬浮在滚动条上的主干部分*/
.need_scroll::-webkit-scrollbar-track:hover {
  background: rgba(0, 0, 0, 0);
  //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.4);
  //background-color: rgba(0,0,0,.01);
}

.EnterAnimation1 {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: fadeInTop .2s;

  @keyframes fadeInTop {
    from {
      top: auto;
      bottom: 100%;
      left: 0;
      right: 0;
    }
    to {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}

.EnterAnimation2 {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: fadeInRight .2s;

  @keyframes fadeInRight {
    from {
      top: 0;
      left: 100%;
      right: auto;
      bottom: 0;
    }
    to {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}

.EnterAnimation3 {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: fadeInBottom .2s;

  @keyframes fadeInBottom {
    from {
      top: 100%;
      bottom: auto;
      left: 0;
      right: 0;
    }
    to {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}

.EnterAnimation4 {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: fadeInLeft .2s;

  @keyframes fadeInLeft {
    from {
      top: 0;
      bottom: 0;
      left: auto;
      right: 100%;
    }
    to {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}

.LeaveAnimation1 {
  animation: fadeLeaveTop .2s;

  @keyframes fadeLeaveTop {
    from {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    to {
      top: auto;
      left: 0;
      right: 0;
      bottom: 100%;
    }
  }
}

.LeaveAnimation2 {
  animation: fadeLeaveRight .2s;

  @keyframes fadeLeaveRight {
    from {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    to {
      top: 0;
      left: 100%;
      right: auto;
      bottom: 0;
    }
  }
}

.LeaveAnimation3 {
  animation: fadeLeaveBottom .2s;

  @keyframes fadeLeaveBottom {
    from {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    to {
      top: 100%;
      left: 0;
      right: 0;
      bottom: auto;
    }
  }
}

.LeaveAnimation4 {
  animation: fadeLeaveLeft .2s;

  @keyframes fadeLeaveLeft {
    from {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    to {
      top: 0;
      left: auto;
      right: 100%;
      bottom: 0;
    }
  }
}
